<p>Title</p> 
<input @bind="@_postInstance.Title" />
<p>Post</p> 
<textarea @bind="@_postInstance.Body"></textarea>
<p>Writer</p>
<input @bind="@_postInstance.AuthorName" />


<p><button @onclick="@( async () => await HandleSubmit() )">Submit</button></p>



@code {
	Models.Post _postInstance = new Models.Post();

	[Parameter]
	public EventCallback<Models.Post> OnPostSubmit{ get; set; }

	async Task HandleSubmit()
	{
		await OnPostSubmit.InvokeAsync(_postInstance);

		_postInstance = new Models.Post();
	}
}
