@inherits LayoutComponentBase

<div class="header">
    <!-- Header content (e.g., logo, navigation links)... -->
</div>

<div class="main">
    @Body
</div>

<div class="footer">
    <!-- Footer content (e.g., copyright information)... -->
</div>